[Unit]
Description=The Quamotion WebDriver allows you to automate iOS and Android devices
Wants=usbmuxd.service
After=network.target

[Service]
User=vagrant
Type=simple
ExecStart=/usr/local/share/quamotion/Quamotion.WebDriver --daemon
WorkingDirectory=/usr/local/share/quamotion/
ExecStop=/usr/bin/killall Quamotion.WebDriver

[Install]
WantedBy=multi-user.target
